* { box-sizing: border-box; }

.splash { margin: 1em; }
.loader { font-size: 50%; position: absolute; top: 5; left: 5; }

.good { color: green; }
.bad { color: red; }

html, body { height: 100%; }

body {
  margin: 0;
  color: #ccc;
  font-family: "Jura", sans-serif;
  background: #222;
}

.flash { color: orange; }
.error { margin: 0.2em 0 0.5em 0; font-size: small; color: #fcc; }

h1 { margin: 0; }
header { margin: 0.2em; text-align: center; background: rgba(0,0,0,.5);
  border-bottom: 2px solid #333; padding: .5em; }

form div { padding: 0.2em 0; }
input, textarea { padding: 0.4em; background-color: #333;
  border: 1px solid #444; color: #eee; width: 100%;
  font-family: sans-serif; }

.loginform { width: 20em; margin: 0 auto; }
/* .podcastform textarea { width: 100%; } */

div.left { width: 30%; float: left; }
div.right { width: 70%; float: right; padding-left: 1em; }

ul.navbar-nav { list-style-type: none; padding: 0; clear: both; margin: 0; }
ul.navbar-nav li { width: 20%; padding: 5px; float: left; }
ul.navbar-nav a { width: 100%; display: block; text-decoration: none;
  padding: 5px; text-align: center; color: #999;
  border: 1px solid rgba(255,255,255,0.2); background-color: rgba(0,0,0,0.33); }
ul.navbar-nav li.active a,ul.showsection-nav a:hover { color: white;
  border: 1px solid rgba(100,100,255,0.6);
  background-color: rgba(40,40,120,0.2); }

a { color: #cc9; }
.main { padding: 1em; padding-top: 0; }

ul.eplist li { list-style-type: none; margin-bottom: 1em; }
ul.eplist li div.num { float: left; margin-left: 0; }
ul.eplist li div { margin-left: 3em; }

li div.date span { color: #aaa; font-size: small; }

.event-line-entry-form ul { padding-left: 0; list-style-type: none; }
.event-line-entry-form li { background-color: #111; padding: 0.5em; margin-bottom: 0.5em; }
.event-line-entry-form span { display: block; }
.event-line-entry-form .remove-widget { text-align: right; }
.event-line-entry-form .remove-widget a { font-size: small; }

.mp3tags { background-color: #111; padding: 0.2em 1em; list-style-type: none; }
.mp3tags span.key { font-weight: bold; width: 6em; float: left; display: block; }

.event-display ul { padding: 0; list-style-type: none; }

.info-form .info-section { clear: both; }

.social-form { max-width: 40em; padding: 1em; }

footer { clear: both; padding: 20px 40px;
    margin-top: 4em;
    border-top: 2px solid #333;
    background: rgba(0, 0, 0, .50); }
footer .bit { float: left; }
footer .lg { width: 40%; }
footer .lg .bit p { }
footer .sm { width: 30%; }
footer .sm .bit p { margin: 0; }
strong { color: white; }
.clearer { clear: both; line-height: 0; padding: 0; margin: 0; }
